## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup

import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
import pandas as pd

In [9]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
1,6,Sola,VU,81.18,overcast clouds,-13.8833,167.5500,Leumerus Bungalows
2,7,Lorengau,PG,81.09,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
3,11,Puerto Ayora,EC,78.76,light rain,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,16,Hithadhoo,MV,83.48,broken clouds,-0.6000,73.0833,Scoop Guest House
5,17,Rikitea,PF,78.12,clear sky,-23.1203,-134.9692,People ThankYou
6,21,George Town,MY,82.33,scattered clouds,5.4112,100.3354,Cititel Penang
7,30,Hobyo,SO,83.93,few clouds,5.3505,48.5268,Iftin hotel hobyo
8,32,Avarua,CK,75.25,scattered clouds,-21.2078,-159.7750,Paradise Inn
9,39,Mahebourg,MU,78.26,light intensity shower rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = vacation_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

Cities:
- Havelock, North Carolina
- Jacksonville, Florida
- Houma, Louisiana
- Morgan City, Louisiana

In [13]:
list(vacation_df["City"])[:4]

['Vaini', 'Sola', 'Lorengau', 'Puerto Ayora']

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Vaini']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Vaini']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Sola']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Lorengau']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Puerto Ayora']

In [15]:
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Vaini,TO,77.16,scattered clouds,-21.2,-175.2,Keleti Beach Resort

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5:7]
end = vacation_end.to_numpy()[0][5:7]
stop1 = vacation_stop1.to_numpy()[0][5:7]
stop2 = vacation_stop2.to_numpy()[0][5:7]
stop3 = vacation_stop3.to_numpy()[0][5:7]

In [17]:
start

array([-21.2, -175.2], dtype=object)

In [18]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions_layer = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(directions_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
1,6,Sola,VU,81.18,overcast clouds,-13.8833,167.5500,Leumerus Bungalows
2,7,Lorengau,PG,81.09,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
3,11,Puerto Ayora,EC,78.76,light rain,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [20]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
four_cities_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
four_cities_layer = gmaps.marker_layer(locations, info_box_content=four_cities_info)
fig.add_layer(four_cities_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
print(fig)

Figure(layout=FigureLayout(height='420px'))